* {
  font-family: Futura;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

html,
body {
 height: 100%;
 position: relative;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 90px;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  height: 610px;
  width: 450px;
}



/* Header */
.header {
  width: 100%;
  margin-bottom: 10px;
}

.headerList {
  list-style-type: none;
  margin: 0;
  padding: 0 80px;
  overflow: hidden;
  background-color: #333;
}

.headerLogo {
  float: left;
}

.headerItem {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px 20px 20px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  background-color: #111;
}

/* Login Page */
.loginForm {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  margin: 10px;
  height: 450px;
  width: 250px;
}



/* Data visualisation */
.pieChart {
  margin: 0px 0px 20px;
}


/* Add Transaction Form */
.gridContainer {
  display: grid;
  grid-template-columns: 150px 150px 150px;
}

.inputStyle {
  margin: 4px 2px;
  padding: 2px;
  border-radius: 4px;
  border-width: 2px;
  border-color: black;
}

.buttonStyle {
  text-align: center;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  margin: 4px 2px;
  padding: 2px;
  cursor: pointer;
  background-color: white;
}

.buttonStyle:hover {
  filter: brightness(90%);
}



/* Transactions */
::-webkit-scrollbar {
  width: 0px;
}

.transactionTableDiv {
  overflow:hidden;
  overflow-y: scroll;
  height: 440px;
  border-style: solid;
  border-radius: 5px;
  border-color: #111;
  border-width: 2px;
  margin: 20px 0 0 0;
}

.categoryTableDiv {
  overflow:hidden;
  overflow-y: scroll;
  border-style: solid;
  border-color: #111;
  border-width: 2px;
  border-radius: 5px;
  margin: 20px 0 0 0;
}

table {
  border-collapse: collapse;
  text-align: left;
  position: relative;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #aaaaaa;
  position: sticky;
  top: 0;
}

td {
  cursor: pointer;
}

tr:nth-child(even){background-color: #eeeeee}
tr:hover {background-color:#dddddd;}

/* Transaction Delete Button */
.deleteButton {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(253, 56, 34);
  color: white;
  padding: 2px 4px;
  cursor: pointer;
}

.deleteButton:hover {
  filter: brightness(90%);
}

.footer {
  align-content: center;
  display: flex;
  margin: 10px 100px;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  width: 480px;
  padding: 10px 0 10px 0;
  position: relative;
}

.footer > p, a {
  padding-left: 20px;
  padding-right: 20px;
}

.footer > p {
  line-height: 30px;
}